*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "montserrat_alternatesregular";
  src: url("assets/fonts/montserratalternates-regular-webfont.woff2")
      format("woff2"),
    url("assets/fonts/montserratalternates-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 90px;
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  text-align: center;
}

input {
  background-color: rgb(245, 245, 245);
  height: 26px;
  border-radius: 20px;
  padding: 4px;
  border: 2px solid rgba(236, 236, 236, 0.829);
  appearance: none;
  cursor: pointer;
  padding-left: 50px;

  font-size: 1em;
  font-family: "montserrat_alternatesregular";
  width: 100%;
}

input :hover,
input:focus {
  outline: none;
  border: 2px solid #60a5fa;
}

#search-icon {
  position: absolute;
  left: 10px;
  top: 5px;
}

#error-message {
  color: rgb(255, 38, 74);
  font-size: 0.9em;
  font-family: "montserrat_alternatesregular";
  margin: 4px 0px 0px 11px;
  width: 330px;
}

.weather-info {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 01);
  transition: background-color 0.5s ease;
  text-align: center;
  background-color: #60a5fa;
}
