*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "inconsolataregular";
  src: url("assets/fonts/inconsolata-variablefont_wdthwght-webfont.woff2")
      format("woff2"),
    url("assets/fonts/inconsolata-variablefont_wdthwght-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "inconsolataregular";
  position: relative;
}

.container {
  margin-top: 90px;
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  text-align: center;
}

input {
  background-color: rgb(245, 245, 245);
  height: 26px;
  border-radius: 20px;
  padding: 4px;
  border: 2px solid rgba(236, 236, 236, 0.829);
  appearance: none;
  cursor: pointer;
  padding-left: 60px;

  font-size: 1em;
  width: 380px;
}

input :hover,
input:focus {
  outline: none;
  border: 2px solid #60a5fa;
}

#search-icon {
  position: absolute;
  left: 10px;
  top: 5px;
}

#error-message {
  color: rgb(255, 38, 74);
  font-size: 0.9em;
  margin: 4px 0px 0px 11px;
  width: 400px;
}

.weather-info {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(130, 127, 127, 0.733);
  transition: background-color 0.5s ease;
  text-align: center;
  background-color: #60a5fa;

  width: 400px;
  height: 500px;
}

h2 {
  margin: 40px 4px 22px 4px;
  font-size: 1.5em;
}

p {
  text-align: start;
  margin: 10px 0px 10px 70px;
}

.weather-info.sunny {
  background-image: url("assets/images/sunny.jpg");
  color: #f8fafc;
}

.weather-info.sunny .icon {
  stroke: white;
}

.weather-info.cloudy {
  background-image: url("assets/images/cloudy.jpeg");
  color: #111827;
  background-size: cover;
  background-position: center;
  color: #334155;
}

.weather-info.rainy {
  background-image: url("assets/images/raining.gif");
  color: #f8fafc;
}

.weather-info.rainy .icon {
  stroke: white;
}

.weather-info.snowy {
  background-image: url("assets/images/snowy.jpeg");
  color: #334155;
}

.weather-info.foggy {
  background-image: url("assets/images/foggy.jpg");
  color: #334155;
  background-size: cover;
  background-position: center;
}

.weather-info.stormy {
  background-image: url("assets/images/thunder.gif");
  color: #f8fafc;
  background-size: cover;
  background-position: center;

}


.weather-info.default {
  background-color: #ffffff;
}

.bold {
  font-weight: 500;
  font-size: 1.2em;
}

.increase-fontsize {
  font-size: 1.7em;
  text-align: center;
  margin-right: 70px;
}

.align-text {
  text-align: center;
  margin: 0px 0px 0px 0px;
  font-size: 1.4em;
}

.weather-conditions {
  display: flex;
  justify-content: space-around;
}

.weather-conditions-value {
  display: flex;
  justify-content: space-around;
  font-weight: 680;
}

.weather-conditions-value > div {
  margin-right: 16px;
}

div.icons {
  display: flex;
  justify-content: space-around;
  margin-top: 22px;
}
